
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.site-page-footer{
  background-color: black;
  color: white;
}

#btn{
  height: 40px;
  width: 200px;
}

/* .setter-button{

  padding: 30px 50px;
 
}

.answerer-button{
  
  padding: 30px 50px;

}
 */

.head{
  background-color:lightgray;
  padding-bottom: 45px;
}

.authenButton{
margin:10px;
}


.screenButton{
  margin :10px;
}
